@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body,
ul,
li,
h1,
h2,
h3,
img,
div {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.nav-upper {
  display: flex;
  justify-content: space-between;
}

.nav-upper h1 {
  font-size: 80px;
  font-weight: bolder;
  margin: 30px 0 0 50px;

  font-family: "Roboto";
}

.nav-menu {
  margin: 50px 30px 0 0;

  display: flex;
}

.nav-menu a {
  margin-right: 20px;

  color: rgb(255, 153, 0);

  font-size: 20px;
  font-weight: bolder;
}

.nav-down ul {
  display: flex;
  margin: 20px 0 0 50px;
}

.nav-down ul li {
  font-size: 23px;
  font-weight: bold;

  margin-right: 30px;
}

.nav-down ul li a {
  color: black;
}

main {
  margin-top: 20px;
  font-weight: bolder;

  display: flex;
  flex-direction: column;
}

.open-close-info,
.suggest-mail,
.magazine,
.collection,
.event-box {
  max-width: 80%;
}

.top-alert {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  background-color: rgb(68, 67, 67);
  color: rgb(236, 236, 236);
}

.top-alert .left-alert {
  margin-left: 50px;
}

.top-alert .left-alert h2 {
  font-size: 40px;
  margin-top: 30px;
  max-width: 40rem;
}

.top-alert .left-alert p {
  font-size: 20px;
  max-width: 30rem;
}

.top-alert .left-alert p span {
  font-size: 25px;
}

.top-alert .right-alert {
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin-right: 50px;
}

.top-alert .right-alert a {
  color: rgb(236, 236, 236);
  font-size: 20px;
}

.top-alert .right-alert a:first-child {
  margin-bottom: 20px;
}

.article div {
  min-height: 300px;
  max-height: 350px;
}

.article .first-art {
  font-size: 1.5rem;
  display: flex;
}

.article .first-art .left-box {
  background-color: rgb(190, 248, 29);
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article .first-art .left-box h2 {
  margin: 50px 0 50px 50px;
  position: relative;
  right: 0;
}

.article .first-art .left-box span {
  margin: 0 0 50px 50px;
}

.article .first-art .right-box {
  flex: 0.6;
  object-fit: fill;
}

.article .second-art {
  font-size: 1.5rem;
  background-color: aliceblue;
  display: flex;
}

.article .second-art .left-box {
  flex: 0.6;
  object-fit: fill;
}
.article .second-art .right-box h2 {
  margin: 50px 0 50px 50px;
}

.article .second-art .right-box span {
  margin: 0 0 50px 50px;
}
.article .second-art .right-box {
  background-color: rgb(28, 199, 28);
  flex: 0.4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article .third-art {
  font-size: 1.5rem;
  background-color: aliceblue;

  display: flex;
}

.article .third-art .left-box h2 {
  margin: 50px 0 50px 50px;
  max-width: 350px;
}

.article .third-art .left-box span {
  margin: 0 0 50px 50px;
}

.article .third-art .left-box {
  color: white;
  background-color: black;
  flex: 0.4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article .third-art .right-box {
  flex: 0.6;
  object-fit: fill;
}

.open-close-info {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;
}

.open-close-info a {
  margin: 50px 0 100px 0;
  color: black;
}

.open-close-info .container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.suggest-mail {
  max-width: 80%;
  width: 90%;
  height: 100px;

  border: solid 2px black;
  margin: 0 auto;

  margin-bottom: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.suggest-mail form {
  display: flex;
  width: 80%;
  max-width: 80%;
  justify-content: space-between;
}

.suggest-mail form input {
  border: none;
  border-bottom: 2px solid black;
}

.magazine {
  width: 90%;
  margin: 0 auto;

  margin-bottom: 100px;
}

.magazine h2 {
  margin-bottom: 70px;
}

.magazine .magazine-box .box-image {
  width: 500px;
  height: 400px;
  background-color: aquamarine;
}

.magazine .magazine-box {
  display: flex;
  justify-content: space-between;
}

.magazine .image-info {
  margin-left: 50px;
}

.magazine .image-info span:first-child {
  color: rgb(245, 102, 126);
}

.collection {
  width: 90%;
  margin: 0 auto;
}

.collection h2 {
  margin-bottom: 50px;
}

.collection .collection-image {
  height: 20rem;
  background-color: aquamarine;
  margin-bottom: 50px;
}

.event-box {
  display: flex;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;

  margin-bottom: 100px;
  margin-top: 100px;
}

.event-box .event-first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.first-right {
  height: 200px;
  width: 250px;
  background-color: aquamarine;

  margin-left: 100px;
}

.event-box .event-second {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: rgb(68, 67, 67);
  font-size: 1.5rem;
}

footer .container {
  max-width: 80%;
  margin: 0 auto;
}

footer .foot-nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 150px 0;
}

footer .foot-nav ul {
  display: flex;
}

footer .foot-nav ul li {
  margin-right: 50px;
}

footer .foot-nav a:last-child {
  color: white;
}

footer .foot-info {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 0;
}

footer .foot-info .left-info p,
footer .foot-info .right-info p {
  max-width: 370px;
}

footer .mail-input {
  color: white;
  margin: 100px 0 100px 0;
}

footer .mail-input form input {
  border: none;
  border-bottom: 2px solid white;
  background-color: rgb(68, 67, 67);
  color: white;

  width: 40%;
}

footer .policy-info {
  color: white;
  margin: 0 0 100px 0;
}

footer .policy-info .policy ul {
  display: flex;
  margin: 20px 0;
}

footer .policy-info .policy ul li a {
  color: white;
  font-size: 1.2rem;
  margin-right: 25px;
}

footer .policy-info .policy span {
  color: gray;
  font-size: 1rem;
}
